h1 {
    color: black;
}

.grid-container {
    display: grid;
    grid-gap: 30px;
    width: 70%;
    margin: 0 auto;
    grid-template-areas:
        "header"
}

.grid-item {
    padding: 5px;
    background-color: black;
}

.header {
    grid-area: header;
    background-color: rgba(0, 175, 79, 0.733);
    text-align: left;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
}

.header .right-element{
    text-align: left;
}

.header .right-element button{
    height: 50px;
    background-color: darkblue;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    text-align: left;
    border: 0;
}

.header .right-element img{
    width: 30px;
    height: 30px;
}

.container {
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
}

button {
    width: fit-content;
    height: fit-content;
    border: solid 2px black;
    border-radius: 7px;
}

.no-underline {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
    text-decoration-color: inherit;
}